ul {
  list-style-type: none;
  padding-right: 40px;
}

.open-post-card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.comment-form {
  text-align: center;
}

.comment-title, .post-title {
  font-family: 'Staatliches', cursive;
}

.post-title {
  margin-bottom: 3px;
}

.comment-content, .post-author {
  font-family: 'Montserrat', sans-serif;
}

.post-author {
  margin-top: 0;
  margin-bottom: 8px;
}

.post-btn {
  margin-right: 8px;
}