.welcome-title {
  font-family: 'Staatliches', cursive;
  text-align: center;
}

.welcome-body {
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}

.training {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 40%;
}