.center-register {
  text-align: center;
}

.register-label, .to-login {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.username-input {
  margin-bottom: 8px;
}

.register-btn {
  margin-top: 8px;
}