.comment-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  padding-left: 5px;
  padding-bottom: 2px;
}

.comment-user {
  font-family: 'Montserrat', cursive;
}

.comment-content {
  text-align: center;
}

.comment-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}